.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
}

.sidebar-list {
  position: absolute;
  top: 50%;
  margin: auto 0;
  transform: translateY(-50%);
  list-style-type: none;
  text-align: center;
}

.sidebar-item {
  width: 10px;
  height: 10px;
  margin: 50px 20px;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 50%;
  transition: all 0.3s;
}

.sidebar-item.active {
  background-color: #fff;
  transform: scale(1.3);
}
